Banner {{data_dir}}/banner-bash.txt
HostKey {{keys_dir}}/ssh_host_dsa_key
HostKey {{keys_dir}}/ssh_host_ecdsa_key
HostKey {{keys_dir}}/ssh_host_ed25519_key
HostKey {{keys_dir}}/ssh_host_rsa_key
AuthorizedKeysFile {{keys_dir}}/authorized_keys
PidFile {{keys_dir}}/sshd_pid
PasswordAuthentication yes
ChallengeResponseAuthentication yes
StrictModes no
AcceptEnv *
Subsystem sftp /usr/lib/openssh/sftp-server
